<h1>Armários</h1>
<%= text_field_tag :armarios, "", class: 'autocomplete', data: { source: autocomplete_armarios_path } %>
<br><br>
<h1>PTs</h1>
<%= text_field_tag :pts, "", class: 'autocomplete', data: { source: autocomplete_pts_path } %>
